@charset "UTF-8";
table{
    width: 600px;
    border: yellowgreen 5px solid;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
    /*    это значения выравнивания таблицы*/
}
/*название таблицы*/
caption{
    text-align: left;
    font-size: x-large;
    font-style: normal;
    font-family: Verdana;
    caption-side: top;
}
td, th{
    border: black 1px solid;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
tr{
    text-align: center;
    vertical-align: center;
}
tr:nth-child(2n){
    background: #e8e8e8
}
thead, tfoot{
    /*стиль заголовков столбцов*/
    background: aqua;
}
